/* -------------------------------------------- */
/* Reset                                        */
/* -------------------------------------------- */

/* Source: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}


/* -------------------------------------------- */
/* Utility Classes                              */
/* -------------------------------------------- */

.flex {
  display: flex;
  grid: var(--gap, 1rem); /* This is a custom property */
}

.grid {
  display: grid;
  grid: var(--gap, 1rem); /* This is a custom property */
}

.container {
  /* A modern CSS property (logical property) to add padding based on 
  the inline axis (add padding left and right) */
  padding-inline: 2em; 

  /* A modern CSS property (logical property) to add margin based on
  the inline axis (add margin left and right). The value "auto" will 
  center the element */
  margin-inline: auto;

  max-width: 80rem;
}

/* This class is for screen readers (sr) only and when applied to an
element, it will be hidden from the UI (sighted users won't see it) but
will still be accessible for screen readers so visually impaired users 
can hear the content (this content can be, for example, a description of
a button that has no text on it but is visually self explanatory for 
sighted users and so the function of the button needs to be explained 
for visually impaired users) */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}